.Hangman {
  width: 100%;
  margin-top: 70px;
  text-align: center;
  height: 50vmin;
  color: #121212;
  font-size: calc(5px + 2vmin);
}





.hang-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




